<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ post.title }}</h1>
                <p class="article-time">
                    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
